{% extends "base.html" %}
{% load humanize %}


{% block content %}
<div class="container mt-3">
    
<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <td>№</td> 
            <td>Tumanlar</td> 
            <td>Mahallalar soni</td> 
            <td>Ko'chalar soni</td> 
            <td>Yakka tartibdagi xonadonlar soni</td> 
            <td>Ko'p qavatli uylar soni</td> 
            <td>Xonadonlar soni</td>
        </tr>
    </thead>
    <tbody>
        {% for row in objects %}
        <tr>
            <td>{{ forloop.counter }}</td> 
            <td> <a href="{{ row.get_absolute_url }}" style="text-decoration: none;">{{ row }}</a></td> 
            <td>{{ row.mahalla_set.count }}</td> 
            <td>{{ row.streets.count }}</td> 
            <td>{{ row.houses_level1.count }}</td> 
            <td>{{ row.houses_level2.count }}</td> 
            <td>{{ row.houses.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %} 